body{
    margin: 0;
    padding: 0;
}
main{
    width: 70%;
    margin: 0 auto;
}

#container{
    width: 450px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    background: #333;
    border: 2px solid #333;
}

.square{
    box-sizing: border-box;
    background: #ffffff;
    aspect-ratio: 1 / 1;
    border: 1px solid #ccc;
}

.square:hover{
    cursor: pointer;
}